<div class="container w-50 m-auto">
    <h1>Shipment Tracker</h1>
    <form [formGroup]="shipmentForm" (ngSubmit)="handleSubmit()">
        <input 
            class="mx-2" 
            type="text" 
            name="ship_num" 
            id="ship_num" 
            formControlName="ship_num"
            placeholder="shipment number"
        >
        <button class="btn btn-success mx-2" type="submit">Trace</button>
    </form>
    <div *ngIf="shipment">
        <table class="table table-bordered w-30 my-4" *ngFor="let data of dataList">
            <app-table-column 
                [part]="data.part"
                [origin]="data.partOrigin"
                [originCity]="data.partOriginCity"
                [destination]="data.partDestination"
                [destinationCity]="data.partDestinationCity"
                [pieces]="data.partPieces"
                [weight]="data.partWeightKilos"
                [departed]="data.ShippedDateTime"
                [arrival]="data.ArrivedDateTime" >
            </app-table-column>
        </table>
    </div>
</div>
